*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.modal{
    width: 300px;
}
.modal-content{
    width: 300px;
}
.list-group-item a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgba(12, 12, 12, 0.767);
    transition: 0.5s;
}
.modal-title{
    font-size: 1.5rem;
}
.bi{
    font-size: 1.5rem;
}
.list-group-item a:hover{
    color: rgba(250, 245, 245, 0.767);
}
.list-group-item{
    background: transparent;
}
.list-group-item:hover{
    background-color: rgba(7, 7, 7, 0.671)!important;
}
.color{
    background: linear-gradient(45deg, #f126d6e0, #10d3f5);
}
.btn-secondary a{
    text-decoration: none;
    color: rgba(250, 245, 245, 0.767);
}
.modal-content{
    background: linear-gradient(45deg, #f126d6e0, #10d3f5);
}
/*formulário*/
.col-md-12 h1{
    text-align: center;
    margin-top: 2rem;
    position: relative;
}
.col-md-12 h1::before{
    margin-left: 33.5%;
    content: '';
    position: absolute;
    height: 4px;
    width: 23rem;
    bottom: 0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #f126d6e0, #10d3f5);
}
.table{
    margin-top: 2rem;
}
.table td{
    text-align: center;
}